<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>index</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SuperBruce</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">博客 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">技术文档</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">网站新闻 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">开发需求</a></li>
                        <li><a href="/plan/">开发动态</a></li>
                        <li><a href="#">已完成功能</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">未完成功能</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">团队介绍</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ obj.name }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">个人中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/login/">登录</a></li>
                        <li><a href="/logout/">注销登录</a></li>
                        <li><a href="#">技术支持</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="row dh">
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">搜索 · 网页</strong></div>

            <div class="col-xs-4 mb-2">
                <a href="https://www.jukeidc.cn" target="_blank">聚客网络</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="https://hao.360.cn/?src=lm&ls=n527ab18693" target="_blank">360导航</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="http://www.2345.com/?k57259035" target="_blank">2345导航</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="https://github.com/BlazarBruce/SuperBruce" target="_blank">项目源码</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">搜索 · 磁力</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">搜索 · 图片</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">美图 · 在线</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">软件 · 绿软</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">电影 · 在线</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">电影 · 下载</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-3 dh">
        <div class="row">
            <div class="col-xs-12"><strong class="dhname" id="1">电影 · APP</strong></div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">

                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>

            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
            <div class="col-xs-4 mb-2">
                <a href="tmp.html" target="_blank">待添加</a>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>