<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开发计划</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico"/>
</head>
<body>
<p style="font-size:20px">网站开发进度</p>
<p>1、前端用了form表单进行提交信息（POST请求），但是后端没有对post请求进行处理
    可以考虑使用a标签进行处理（GET)请求 ——已经解决</p>
<p>2、目前需要对注册界面前端进行及注册逻辑ORM操作代码进行编写。——已完成</p>
<p style="color:red">3、注销功能、auth模块的使用————未开始</p>
<p>4、后端向前端传递数据 ————已经完成</p>
<p>5、form组件进行数据验证、ajax向后端发送数据————已经完成</p>
<p>6、个人站点首页的编写————已完成</p>
<p style="color:pink">7、钩子函数、局部钩子和全局钩子（进行单个/多个字段验证）————测试中....</p>
</body>
</html>