<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />
        <title>SuperBruce主页</title>
        <style>
            #title {
                text-align: center;
            }
        </style>
    </head>
    <body>
          <div id="title">
              <p style="font-size:40px">欢迎来到SuperBruce</p>
              <p style="font-size:30px">技术书阅读方法论</p>
              <p style="font-size:25px">第一次阅读（最好在1~2天内完成）</p>
              <p> 在一天内快速看完一本书会在大脑里留下深刻印象，对于之后复习以及总结<br>
                  都会有特别好的作用。对于每一章的知识，先阅读标题，弄懂大概讲的是什<br>
                  么主题，再去快速看一遍，不懂也没有关系，但是一定要在不懂的地方 做<br>
                  个记号，什么记号无所谓，但是要让自己后面再 看的时候有个提醒的作用，<br>
                  看看第二次看有没有懂了些。</p>

              <p style="font-size:25px">第二次阅读（在2周内看完,并且记得看下面的博文）</p>
              <p> 第二次看会有慢慢深刻了思想和意识的作用，具体为什么不要问我，去问30年<br>
                  后的神经大脑专家，现在人类可能还没有总结出为什么大脑对记忆的完全方法<br>
                  论，但是，就像我 们专业程序员，打代码都是先实践，然后就渐 渐懂了过程，<br>
                  慢慢懂了原理，所以第二遍读的时候稍微慢下来，2周内搞定。记住一句话：<br>
                  没看完一个章节后，总结一下这 个章节讲了啥。很关键。</p>

              <p style="font-size:25px">实践（在整个过程中都要）</p>
              <p> 要注意不用都去实践，最好看着书，敲下代码，把重点的内容敲一遍有个肌肉记<br>
                  忆就很不错了。以及到自己做过的项目中去把每个有涉及的JVM虚拟机的代码，研<br>
                  究一遍，就可以了。</p>
              <a href="/login/">登录</a>
              <a href="/register/">注册</a>
              <br>
              <img style="height: 400px;width: 400px" src="../static/img/SuperBruce.JPG">
          </div>

    </body>
</html>